*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
@media (min-width: 0px){
    header nav#tablet{
        display: none;
    }
    body{
        background-color: chocolate !important;
    }
    header{
        display: flex;
        flex-flow:  row wrap;
        padding: 5px;
    }
    header button.btn{
        background-color: darkblue;
        border: 2px solid black;
        width: 25%;
        font-size: 25px;
        color: white !important;
        height: max-content;
        padding: 0;
        border-radius: 0px;
        border-left: 2px solid white ;
        border-top: 2px solid white ;
        border-bottom: 2px solid white ;
        border-right: none;
    }
    header nav.dropdown-menu.show{
        background-color: darkred;
    }
    header  nav a.active{
        font-weight: 900;
        font-style: normal;
    }
    header .dropdown-item{
        color: darkgrey;
        font-weight: 900;
        font-size: 25px;
    }
    header h1{
        width: 75%;
        font-size: 25px;
        text-align: center;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        border-radius: 0px !important;
        border-left: 2px dashed silver;
        border-top: 2px solid white ;
        border-bottom: 2px solid white ;
        border-right: 2px solid white;
    }
    main{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        justify-content: center;
        overflow: hidden;
        background-image: url(./../img/código.gif);
        height: max-content;
    }
    main article{
        background-color: green;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 15px;
        margin-top: 10px;
        color: white;
        text-align: center;
        height: max-content;
        box-shadow: inset 5px 5px 10px 5px white
    }
    main article figure{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        width: 100%;
        height: max-content;
    }
    main article figure h1{
        align-self: center;
        margin-left: 10px;
    }
    main article figure img{
        width: 100px;
        background-color: white;
        border-radius: 15px;
        padding: 5px;
        border: lightskyblue solid 3px;
        filter: blur(.1px);
    }
    main article#stack ul li::marker{
        content:"✓";
        text-shadow: 7px 3px white;
        animation: taadaa 3s infinite;
        animation-delay: .5s;
    }
    main article#stack ul li{
        padding-left: 10px;
        white-space: nowrap;
    }
    @keyframes taadaa {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    main article#stack{
        margin-bottom: 10px;
        background-color: black;
        color: white;
        text-align: left;
        border: 5px dashed black;
        animation: borde-cambiante 3s infinite;
    }
    @keyframes borde-cambiante {
        from {
          border-color: black;
        }
        to {
          border-color: white;
        }
      }
    footer{
        display: flex;
        flex-flow: row wrap;
        background-color: gray;
        padding: 10px;
        margin-top: 20px;
        color: white;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    footer nav#contacto span{
        font-size: 30px;
        text-align: center;
        width: max-content;
        background-color: darkgreen;
        color: white;
        font-weight: 900;
        padding: 5px;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        outline: solid black 2px;
        border: solid white 2px;
        -webkit-box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset, 5px 5px 50px 2px rgba(0,0,0,0); 
        box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset, 5px 5px 50px 2px rgba(0,0,0,0);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    footer nav#contacto{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        font-size: 45px;
        background-color: gray;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    footer nav#contacto i{
        background-color: darkblue;
        color: white;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border: solid 4px darkred;
        width: max-content;
        font-size: auto;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    footer nav#contacto i#mail{
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-left: 5px;
        margin-right: 0px;
    }

    footer h1{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    footer ul{
        color: black;
        font-weight: 900;
    }
    footer ul li{
        margin-right: 5px;
        list-style: "💻";
    }
}
@media (min-width: 600px){
    header nav#contacto{
        display: none;
    }
    header h1{
        width: 100%;
        border: none;
    }
    header button{
        display: none !important;
    }
    header nav.dropdownmenu{
        display: flex !important;
        position: relative !important;
    }
}