*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
a{
    text-decoration: none !important;
    color: white !important;
}
@media (min-width: 0px){
    header nav#tablet{
        display: none;
    }
    body{
        background-color:rgba(255, 127, 80, 0.7) !important;
    }
    header{
        display: flex;
        flex-flow:  row wrap;
        padding: 5px;
    }
    header button.btn{
        background-color: darkblue;
        border: 2px solid black;
        width: 25%;
        font-size: 25px;
        color: white !important;
        height: max-content;
        padding: 0;
        border-radius: 0px;
        border-left: 2px solid white ;
        border-top: 2px solid white ;
        border-bottom: 2px solid white ;
        border-right: none;
    }
    header nav.dropdown-menu.show{
        background-color: darkred;
    }
    header  nav a.active{
        font-weight: 900;
        font-style: normal;
    }
    header .dropdown-item{
        color: darkgrey;
        font-weight: 900;
        font-size: 25px;
    }
    header h1{
        width: 75%;
        font-size: 25px;
        text-align: center;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        font-size: 32px;
        margin: 0 auto !important;
        border-radius: 0px !important;
        border-left: 2px dashed silver;
        border-top: 2px solid white ;
        border-bottom: 2px solid white ;
        border-right: 2px solid white;
    }
    main{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        justify-content: center;
        overflow: hidden;
        background-image: url(./../img/código.gif);
        height: max-content;
    }
    main section{
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
    }
    main section article{
        background-color: green;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 15px;
        margin-top: 10px;
        color: white;
        text-align: center;
        height: max-content;
        box-shadow: inset 5px 5px 10px 5px white
    }
    main section article figure{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        width: 100%;
        height: max-content;
    }
    main section article figure h1{
        align-self: center;
        margin-left: 10px;
    }
    main section article figure img{
        width: 100px;
        background-color: white;
        border-radius: 15px;
        padding: 5px;
        border: lightskyblue solid 3px;
        filter: blur(.1px);
    }
    main section article figure img:hover{
        transition: all 1s;
        filter: blur(0);
        transform: scale(1.2);
        animation-duration: 2s;
        filter: grayscale(50px);
    }
    main section article figure img:not(hover){
        transition: all 1s;
    }
    main section article#stack ul li::marker{
        content:"✓";
        text-shadow: 7px 3px white;
        animation: taadaa 3s infinite;
    }
    main section article#stack ul li{
        padding-left: 10px;
        white-space: nowrap;
    }
    @keyframes taadaa {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    main section article#stack{
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: left;
        border: 0px solid rgba(255, 255, 255, 0);
        animation: borde-cambiante 3s infinite;
    }
    @keyframes borde-cambiante {
        from {
            border: solid 0px rgba(255, 255, 255, 0);
        }
        to {
            border: 10px double rgba(0, 0, 0, 0.1);
        }
      }
    footer{
        display: flex;
        flex-flow: row wrap;
        background-color: gray;
        padding: 10px;
        margin-top: 20px;
        color: white;
        width: 100%;
        justify-content: center;
        align-content: center;
        border-top: black solid 2px;
        border-bottom: black solid 2px;
    }
    footer nav#contacto span{
        font-size: 30px;
        text-align: center;
        width: max-content;
        background-color: darkgreen;
        color: white;
        font-weight: 900;
        padding: 5px;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        outline: solid black 2px;
        border: solid white 2px;
        -webkit-box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset, 5px 5px 50px 2px rgba(0,0,0,0); 
        box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset, 5px 5px 50px 2px rgba(0,0,0,0);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    footer nav#contacto{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        font-size: 45px;
        background-color: gray;
        margin-bottom: 5px;
        border-radius: 10px;

    }
    footer nav#contacto i{
        background-color: darkblue;
        color: white;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border: solid 4px darkred;
        width: max-content;
        font-size: auto;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    footer nav#contacto i#mail{
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-left: 5px;
        margin-right: 0px;
    }

    footer h1{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    footer ul{
        color: black;
        font-weight: 900;
    }
    footer ul li{
        margin-right: 5px;
        list-style: "💻";
    }
}
@media (min-width: 600px){
    header{
        background: url(./../img/bootsrap.png), url(./../img/html-css.png), url(./../img/wordpress.png);
        background-position: center left, center center, center right;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 20%;
        padding: 0;

    }
    header button{
        display: none !important
    }
    footer nav#contacto{
        display: none;
    }
    main section article#stack{
        display: none;
    }
    main section article#stack-tablet{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        box-shadow: none !important;
        margin-bottom: 20px;
    }
    main section article#stack-tablet section article h2{
        height: max-content;
        background-color: black;
        font-size: larger;
    }
    main section article#stack-tablet section article{
        box-shadow: none !important;
    }
    main section article#stack-tablet section article figure img{
        width: 70% !important;
        height: auto !important;
    }
    main section article#stack-tablet section article{
        padding: 15px;
        margin-bottom: 15px;
    }
    header h1{
        width: max-content;
        border: none;
        margin: 0 auto;
        padding: 15px;
        font-weight: 900;
        border-radius: 15px !important;
        border: solid black 2px;
        font-size: 36px;
        box-shadow: 0 0 10px 3px black;
        background-color: white;
        color: black;
        opacity: .1;
        order: 1;
    }
    header h1:hover{
        transition: all 1S;
        opacity: 1;
    }
    header nav#tablet{
        display: flex;
        width: 100%;
        order: 2;
        background-color:rgb(47, 79, 79, 0.6);
        padding: 10px;
        text-align: center;
        justify-content: space-around;
        align-content: center;
        font-size: 25px;
        margin-top: 35px;
    }
    header nav#tablet a{
        background-color: gray;
        padding: 5px;
        border-radius: 10px;
        font-weight: 900;
        border: double darkorchid 2px;
    }
}